.navbar-bg {
    height: 70px;
}
body.layout-3 .navbar {
    position: relative;
}
.main-content {
    padding-top: 70px;
}
.results-item-details > li > i, .results-item-details > li > span {
    margin-right: .5rem;
}
ul {
    list-style: none;
    padding-left: 0;
}
.ul-inline > li {
    display: inline;
    margin-right: .5rem;
}
.results-item i {
    margin-right: .3rem;
}
.results-item .float-right {
    text-align: right;
}
.result-item-logo {
    width: 20%;
    min-width: 60px;
}
textarea.form-control {
  height: revert !important;
}
.generic-input {
    border-color: #e4e6fc;
}
.job-details-logo {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
    float: left;
    width: 100px;
    position: relative;
    z-index: 1;
}
